<div class="main" xmlns="http://www.w3.org/1999/html">
  <div class="leftSection">

    <div class="topSection">
      <div class="contentSection">
        <h1>Commence ton entrainement</h1>
        <h5>Tu es dyslexique et tu en as marre, ce site est fait pour toi !!!</h5>
        <p>Clique sur le bouton ci-dessous pour commencer ton entrainement :</p>
      </div>
      <div class="buttonSection">
        <button mat-raised-button color="warn" class="mat-raised-button">Commencer</button>
      </div>
    </div>


    <div class="mainBibli">
      <div class="bibliTitle">
        <h1>Bibliothèque</h1>
      </div>

      <div class="bibli">

        <div class="leftGame">
          <div class="gameTitle">
            <h1>Jeu 1</h1>
          </div>
          <div class="overlay">
            <div class="text">Règles du jeu</div>
          </div>
        </div>

        <div class="middleGame">
          <div class="gameTitle">
            <h1>Jeu 2</h1>
          </div>
          <div class="overlay">
            <div class="text">Règles du jeu</div>
          </div>
        </div>

        <div class="rightGame">
          <div class="gameTitle">
            <h1>Jeu 3</h1>
          </div>
          <div class="overlay">
            <div class="text">Règles du jeu</div>
          </div>
        </div>

      </div>

    </div>
  </div>


  <div class="rightSection">
    <div class="information">
      <h1>Information</h1>
      <h5>La dyslexie c'est quoi?</h5>
      <p>Les troubles du langage écrit se manifestent par des confusions et inversions de sons et de lettres, des fautes d'orthographe, voire une écriture lente et illisible. Ils sont repérables très tôt par l'entourage familial et scolaire.</p>
    </div>
  </div>



</div>
