div{
  text-align: center;
}
.main{
  margin-left: 5%;
  margin-right: 5%;
  margin-inside: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: initial;
  border: 1px black solid;
  flex-direction: row;
  flex: 1;
  padding-bottom: 10%;
  background-color: #FCF5EE;
}

.leftSection {
  margin-top: 4%;
  margin-left: 2%;
  margin-right: 4%;
  border: 1px red solid;
  width: 75%;
}

.rightSection {
  margin-top: 4%;
  margin-right: 2%;
  border: 1px red solid;
  border-radius: 5px;
  width: 25%;
  text-align: initial ;
}
h1{
  text-align: center;
}
.regles{
  background-color: rgba(160, 214, 140, 0.75);
}

.button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 5px;
}

.button:hover {
  background-color: #e0e0e0;
}
