<div class = "main">
  <div class = "leftSection">
    <h1><br>Premier jeu : I-Mot<br></h1>
    <ng-container *ngIf="(jeu_1$ | async) as jeu_1">
      <br><br><img src="{{ jeu_1.image }}" alt="Premier niveau" height=200 width=300>
      <div><br><br>
        <button class="button" (click)="onOptionSelected(jeu_1.option1)">{{ jeu_1.option1 }}</button>
        <button class="button" (click)="onOptionSelected(jeu_1.option2)">{{ jeu_1.option2 }}</button>
        <button class="button" (click)="onOptionSelected(jeu_1.option3)">{{ jeu_1.option3 }}</button>
      </div>
      <epf-reponse [nb_jeu]="1" [optionChoisi]=choisie [index]="jeu_1.id" (response)="onResponse($event)"></epf-reponse>
      <br><br><div class="response-box">
        <h5>Vous avez choisi le mot : {{choisie}}</h5>
      </div>
      <h4 *ngIf="responseBack"> {{responseBack.check}}</h4>
      <button class="button" (click)="redirectToNextPage()">{{valeurBouton}}</button>
    </ng-container>
  </div>
  <div class="rightSection">
    <div class="regles">
      <h1>Règles du jeu</h1>
      <p>Ce jeu a pour objectif d'aider les personnes dyslexiques sur leur difficulté à reconnaître des lettres, des sons.
        <br><br>Le but du jeu est simple : trouver le morceau manquant du mot dont l'image est affiché !</p>
    </div>
    <div class="diff">
      <h1>Oui</h1>
    </div>
  </div>
</div>
