body{
  margin-left: 5%;
  margin-right: 5%;
  margin-inside: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: initial;
  flex-direction: column;
  flex: 1;
  padding-bottom: 10%;
  background-color: #FCF5EE;
}

.topSection {
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 3%;
}

.topTitle {
  align-content: center;
  font-family: "Roboto Slab" !important;
  margin-left: 1%;
  width: auto;
  color: #C74848;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}

.blabla {
  align-content: center;
  font-family: "Roboto Slab" !important;
  margin-left: 1%;
  width: auto;
  color: #C74848;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}

.subSection {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100%;
  height: 60%;
}

.topGames, .bottomGames {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  width: 100%;
  position: relative;
  border-radius: 5px;
  height: 100%;
}

.topGames {
 margin-bottom: 3%;
}

.topGames > div{
  border-radius: 5px;
  height: 100%;
  width: 250px;
  background-color: rgba(243, 182, 100, 0.9);
  box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.35);
}

.bottomGames > div{
  border-radius: 5px;
  height: 100%;
  width: 250px;
  background-color: rgba(243, 182, 100, 0.9);
  box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.35);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(243, 182, 100, 0.9), rgba(199, 72, 72, 1));
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  border-radius: 5px;
}

.gameTitle {
  display: block;
  width: auto;
  text-align: center;
  height: auto;
}

.gameTitle > h1 {
  margin-top: 10%;
  border: #1B0325;
  color: #C74848;
  text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.25);
}

////////////////////////////////////////////////////////
///       TOPGAMES







.text {
  color: #FCF5EE;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.jeu1 {
  position: relative;
  border-radius: 5px;
  margin-right: 3%;
}
.jeu1:hover .overlay {
  height: 100%;
}

.jeu2 {
  position: relative;
  border-radius: 5px;
  margin-right: 3%;

}
.jeu2:hover .overlay {
  height: 100%;
}

.jeu3 {
  position: relative;
  border-radius: 5px;
}
.jeu3:hover .overlay {
   height: 100%;
}




////////////////////////////////////////////////////////
///       BOTTOMGAMES

.jeu4 {
  position: relative;
  border-radius: 5px;
  margin-right: 3%;

}
.jeu4:hover .overlay {
  height: 100%;
}

.jeu5 {
  position: relative;
  border-radius: 5px;
}
.jeu5:hover .overlay {
   height: 100%;
}

