<div class = "main">
  <div class="leftSection">

    <div class="gameName">
      <h1>Jeu 3 : I-Mot</h1>
    </div>

    <div class="gameBody">
      <ng-container *ngIf="(jeu_3$ | async) as jeu_3">
        <div class="gameCorps">
          <div class="gameQuestion">
            <audio controls>
              <source src="{{ jeu_3.question }}" type="audio/mpeg">
            </audio>
          </div>
          <div class="textBox">
            <input type="text" [(ngModel)]="choisie" placeholder="Saisissez votre réponse ici..." [disabled]="validationEffectuee">
          </div>
          <epf-reponse [nb_jeu]="3" [optionChoisi]=choisie [index]="jeu_3.id" (response)="onResponse($event)"></epf-reponse>
        </div>

        <div class="validationSection">
          <div>
            <button mat-raised-button color="warn" class="mat-raised-button" (click)="Validation()">Valider</button>
          </div>
          <div>
            <h4 class="validationResponse" *ngIf="responseBack"> {{valider}}</h4>
          </div>
        </div>

        <div class="submitButton">
          <button mat-raised-button color="warn" class="mat-raised-button" (click)="redirectToNextPage()">{{valeurBouton}}</button>
        </div>
      </ng-container>
    </div>

  </div>

  <div class="rightSection">
    <div class="regles">
      <h1>Règles du jeu</h1>
      <p>Le but du jeu est de trouver le mot correspondant à l'audio.</p>
    </div>
  </div>
</div>
