<div class = "main">
  <div class = "leftSection">
    <div class="gameName">
      <h1>Jeu 5 : I-Mot</h1>
    </div>
    <div class="gameBody">
      <ng-container *ngIf="(jeu_5$ | async) as jeu_5">
        <div class="gameCorps">
          <div class="gameQuestion">
            <h3>{{ jeu_5.question }}</h3>
          </div>
          <div class="gameButtons">
            <button mat-raised-button color="warn" class="mat-raised-button" class="gameButtons1" (click)="onOptionSelected(jeu_5.option1)" [disabled]="validationEffectuee">{{ jeu_5.option1 }}</button>
            <button mat-raised-button color="warn" class="mat-raised-button" class="gameButtons2" (click)="onOptionSelected(jeu_5.option2)" [disabled]="validationEffectuee">{{ jeu_5.option2 }}</button>
            <button mat-raised-button color="warn" class="mat-raised-button" class="gameButtons3" (click)="onOptionSelected(jeu_5.option3)" [disabled]="validationEffectuee">{{ jeu_5.option3 }}</button>
            <epf-reponse [nb_jeu]="5" [optionChoisi]=choisie [index]="jeu_5.id" (response)="onResponse($event)"></epf-reponse>
          </div>
        </div>

        <div class="response-box">
          <h5>Vous avez choisi le mot : {{choisie}}</h5>
        </div>

        <div class="validationSection">
          <div>
            <button mat-raised-button color="warn" class="mat-raised-button" (click)="Validation()">Valider</button>
          </div>
          <div>
            <h4 class="validationResponse"> {{valider}}</h4>
          </div>
        </div>

        <div class="submitButton">
          <button mat-raised-button color="warn" class="mat-raised-button" (click)="redirectToNextPage()">{{valeurBouton}}</button>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="rightSection">
    <div class="regles">
      <h1>Règles du jeu</h1>
      <p>Le but du jeu est de trouver la syllabe manquante du mot.</p>
    </div>
  </div>
</div>
