@use "src/theme";

nav {
  height: 80px;
  background: #F3B664;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div {
  height: 100%;
  display: flex;
  align-items: center;

  img {
    margin-left: 5%;
    height: 90%;
    transition: .3s;
    padding-left: 10%;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.mat-nav-list {
  display: flex;
  margin-left: auto;
  white-space: nowrap;
}

.mat-nav-list a {
  padding-right: 10%;
}

.navTitle{
  margin-left: 55%;
}

.Login {
  height: 60%;
  margin-left: auto;
  padding-right: 2%;
}

.mat-list-base .mat-list-item {
  font-size: large;
  color: theme.$white;
  transition: .3s;
}

.mat-list-base .mat-list-item:hover {
  transform: scale(1.1);
  background-color: transparent;
}


