<body>
<div class="topSection">
  <div class="topTitle">
    <h1>Bibliothèque</h1>
  </div>
  <div class="blabla">
    <h5>blablabla</h5>
  </div>
</div>


<div class="subSection">

  <div class="topGames">
    <div class="jeu1">
      <div class="gameTitle">
        <h1>Jeu 1</h1>
      </div>
      <a routerLink="/jeu_1/1">
        <div class="overlay">
          <div class="text">Règles du jeu</div>
        </div>
      </a>
    </div>

    <div class="jeu2">
      <div class="gameTitle">
        <h1>Jeu 2</h1>
      </div>
      <div class="overlay">
        <div class="text">Règles du jeu</div>
      </div>
    </div>

    <div class="jeu3">
      <div class="gameTitle">
        <h1>Jeu 3</h1>
      </div>
      <div class="overlay">
        <div class="text">Règles du jeu</div>
      </div>
    </div>
  </div>

  <div class="bottomGames">
    <div class="jeu4">
      <div class="gameTitle">
        <h1>Jeu 4</h1>
      </div>
      <div class="overlay">
        <div class="text">Règles du jeu</div>
      </div>
    </div>
    <div class="jeu5">
      <div class="gameTitle">
        <h1>Jeu 5</h1>
      </div>
      <div class="overlay">
        <div class="text">Règles du jeu</div>
      </div>
    </div>
  </div>
</div>
</body>
