<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <ul>
          <li><a href="#">Menu Principal</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <ul>
          <li><a href="#">à propos de nous</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <ul>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <ul>
          <li><a href="#">Crédits</a></li>
        </ul>
      </div>
      <h5><br><br>© Copyright 2024 Dylexia</h5>
    </div>
  </div>
</footer>
