.main {
  margin-left: 5%;
  margin-right: 5%;
  margin-inside: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: initial;
  flex-direction: row;
  flex: 1;
  padding-bottom: 10%;
  background-color: #FCF5EE;
}

////////////////////////////////////////////////////////
///                    LEFT SECTION                  ///
////////////////////////////////////////////////////////

.leftSection {
  margin-top: 4%;
  margin-left: 2%;
  margin-right: 4%;
  width: 65%;
}

.gameBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.gameCorps {
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(243, 182, 100, 0.6);
}

.gameName {
  text-align: center;
}

.gameQuestion {
  font-family: "Roboto Slab" !important;
  margin-bottom: 30px;
}

h1 {
  font-family: "Roboto Slab" !important;
  font-size: 35px;
}

.mat-raised-button {
  background-color: rgba(199, 72, 72, 1);
  width: 100px;
  height: 35px;
  font-size: 120%;
  color: #FCF5EE  !important; /* Changer la couleur de la police en blanc */
  box-shadow: 3px 3px 13px 0px rgba(0, 0, 0, 0.35);
}

.gameButtons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
}

.gameButtons1 {
  margin-right: 8%;
}

.gameButtons2 {
  margin-right: 8%;
}

.validationSection {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.validationResponse {
  margin-top: 25px;
}

.submitButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
}

.gameImage {
  margin-top: 30px;
  margin-bottom: 30px;
}

.gameImage > img {
  width: 50%;
}

.response-box {
  margin-top: 30px;
}

////////////////////////////////////////////////////////
///                   RIGHT SECTION                  ///
////////////////////////////////////////////////////////

.rightSection {
  margin-top: 4%;
  margin-right: 4%;
  width: 35%;
}

.regles{
  border-radius: 5px;
  background-color: rgba(160, 214, 140, 0.75);
  box-shadow: 3px 3px 13px 0px rgba(0, 0, 0, 0.35);
  padding: 2%;
}
